<!DOCTYPE html>
<html lang="ru">
<%- include('blocks/head.ejs') %>
  <body class="bg-gray-100 font-family-karla flex">
  <%- include('blocks/aside.ejs') %>

    <div class="w-full flex flex-col h-screen overflow-y-hidden">
      <!-- Desktop Header -->
      <header class="w-full flex items-center bg-white py-2 px-6 hidden sm:flex">
        <div class="w-1/2"></div>
        <div x-data="{ isOpen: false }" class="relative w-1/2 flex justify-end">
          <button
            @click="isOpen = !isOpen"
            class="realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none"
          >
            <img src="https://source.unsplash.com/uJ8LNVCBjFQ/400x400" />
          </button>
          <button
            x-show="isOpen"
            @click="isOpen = false"
            class="h-full w-full fixed inset-0 cursor-default"
          ></button>
          <div x-show="isOpen" class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16">
            <a href="#" class="block px-4 py-2 account-link hover:text-white">Пункт1</a>
            <a href="#" class="block px-4 py-2 account-link hover:text-white">Пункт2</a>
            <a href="#" class="block px-4 py-2 account-link hover:text-white">Пункт3</a>
          </div>
        </div>
      </header>

      <!-- Mobile Header & Nav -->
      <header x-data="{ isOpen: false }" class="w-full bg-sidebar py-5 px-6 sm:hidden">
        <div class="flex items-center justify-between">
          <a
            href="index.html"
            class="text-white text-3xl font-semibold uppercase hover:text-gray-300"
            >Админка</a
          >
          <button @click="isOpen = !isOpen" class="text-white text-3xl focus:outline-none">
            <i x-show="!isOpen" class="fas fa-bars"></i>
            <i x-show="isOpen" class="fas fa-times"></i>
          </button>
        </div>

        <!-- Dropdown Nav -->
        <nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
          <a
            href="index.html"
            class="flex items-center active-nav-link text-white py-2 pl-4 nav-item"
          >
            <i class="fas fa-tachometer-alt mr-3"></i>
            Дэшборд
          </a>
          <a
            href="blank.html"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-sticky-note mr-3"></i>
            Пустая страничка
          </a>
          <a
            href="tables.html"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-table mr-3"></i>
            Таблицы
          </a>
          <a
            href="forms.html"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-align-left mr-3"></i>
            Формы
          </a>
          <a
            href="tabs.html"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-tablet-alt mr-3"></i>
            Табы
          </a>
          <a
            href="calendar.html"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-calendar mr-3"></i>
            Календарь
          </a>
          <a
            href="#"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-cogs mr-3"></i>
            Поддержка
          </a>
          <a
            href="#"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-user mr-3"></i>
            Аккаунт
          </a>
          <a
            href="#"
            class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          >
            <i class="fas fa-sign-out-alt mr-3"></i>
            Выйти
          </a>
          <button
            class="w-full bg-white cta-btn font-semibold py-2 mt-3 rounded-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center"
          >
            <i class="fas fa-arrow-circle-up mr-3"></i> Посетить нас!
          </button>
        </nav>
        <!-- <button class="w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
                <i class="fas fa-plus mr-3"></i> New Report
            </button> -->
      </header>

      <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
        <main class="w-full flex-grow p-6">
          <h1 class="text-3xl text-black pb-6">Welcome</h1>

          <!-- Content goes here! 😁 -->
          <h2>Добро пожаловать!</h2>
          <p class="text-2xl">
            Это пример приложения HTTP-сервера KSDK с использованием KSDK lwIP и FreeRTOS.
          </p>
          <h3>Описание сервера</h3>
          <p class="text-2xl">
            Сервер протокола передачи гипертекста (HTTP) - это простой веб-сервер, который
            обрабатывает, оценивает и отвечает на запросы HTTP. В зависимости от конфигурации и
            входящих клиентских запросов он возвращает статическое содержимое файловой системы
            (веб-страницы, таблицы стилей, изображения ...) или содержимое, динамически генерируемое
            процедурами обратного вызова. Сервер поддерживает протокол HTTP версии 1.0, определенный
            RFC 1945
            <a href="http://tools.ietf.org/html/rfc1945">(http://tools.ietf.org/html/rfc1945)</a>.
          </p>
          <p class="text-2xl">
            Сервер создает отдельную задачу и внутреннюю структуру данных для каждого входящего
            соединения от клиента (в дальнейшем это называется сеансом). Когда обработка сеанса
            завершена (клиенту отправляется ответ) и параметр keep-alive отключен, соединение от
            клиента закрывается, а сеанс уничтожается. В случае, если поддержка активности включена,
            соединение остается открытым, и сервер ожидает другого запроса от клиента.
          </p>
        </main>

        <footer class="w-full bg-white text-right p-4">
          Сделал
          <a target="_blank" href="https://github.com/kirillz" class="underline">kirillz</a>.
        </footer>
      </div>
    </div>

    <!-- AlpineJS -->
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <!-- Font Awesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
      integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
