<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Новый интерфейс</title>
  <meta name="author" content="Kirill Zasorin" />
  <meta name="description" content="http://revive-it.ru" />
  <!-- Reset styles-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
  <!-- Tailwind -->
  <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet" />
  <!-- Our styles -->
  <link rel="stylesheet" href="/stylesheets/style.css">



  <style>
    @import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
    .font-family-play {
      font-family: play, sans-serif;
    }
    .bg-sidebar {
      background: #1d2a59;
    }
    .cta-btn {
      color: #3d68ff;
    }
    .upgrade-btn {
      background: #1947ee;
    }
    .upgrade-btn:hover {
      background: #0038fd;
    }
    .active-nav-link {
      background: #1947ee;
    }
    .nav-item:hover {
      background: #1947ee;
    }
    .account-link:hover {
      background: #3d68ff;
    }
  </style>
</head>